{% extends "main.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<button> <a href="sign/logout/">Выйти</a> </button>

{% if is_not_authors %}
<button> <a href="sign/upgrade/"> Стать автором</a> </button>
{% else %}
    <br>
    <p>Вы имеете статус Автор</p>
{% endif %}
<br>
<!--<h6>Ваши текущие подписки:</h6>-->
<!--{% for category in user_category %}-->
<!--{{ category.name }} - <a href="{% url 'unsubscribe' %}?cat_id={{ cat.id }}">Отписаться<br></a>-->
<!--{% endfor %}-->
{% endblock %}
